@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  --navHeightSM: 107.5px;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*before,
*after {
  box-sizing: inherit;
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
