@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  --navHeightSM: 97.5px;
  --navHeightLG: 145px;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*before,
*after {
  box-sizing: inherit;
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}
p {
  font-size: 24px;
}
h1 {
  font-size: 50px;
}
.page-layout p {
  margin-top: 10px;
}
.object-cover {
  object-fit: cover;
}
.nav-container {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
